.logoBoletim{
    width: 500px;
    padding: 25px 25px 30px 25px;
}

.headline{
    font-size: 50px;
    color: #001A76;
    font-family: "Hanken Grotesk";
    grid-column: 1;
    grid-row: 1;
    padding-left: 2%;

}
.headline h1{
    margin: 25px 0px 25px 0px;

}


/* Hero */
.hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 10px;
}
.text-container{
    grid-column: 1;
    grid-row: 1;
    justify-content: left;
    align-content: left;
    padding-left: 5%;
    font-family: "Hanken Grotesk";
    color: #001A76;
}
.text-container h3{
    font-size: 35px;
    padding-left: 25px;
    margin-bottom: 17px;
    margin-top: 10px;
}
.text-container p{
    padding-left: 25px;
}
.buttom-join{
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
    text-decoration: none;
   
}
.buttom-join a{
    font-family: "Hanken Grotesk";
    text-decoration: none;
    border-width: 100px;
    color: white;
    border-radius: 20px;
    background: #F7AE2B;
    padding: 10px 50px 10px 50px;
}
.buttom-join a:hover{
    font-family: "Hanken Grotesk";
    text-decoration: none;
    border-width: 100px;
    color: white;
    border-radius: 20px;
    background: #001A76;
    padding: 10px 50px 10px 50px;
    transition: 600ms;
}
.image-container{
    grid-column: 2;
    grid-row: 1;
    width: 70%;
    margin: 0 auto;
    
}
.image-container img{
    border-radius: 20px;
    
}

.carousel-inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.carousel-caption{
    grid-column: 1;
}


